.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}

/*
html { background-color: #333; }
@media only screen and (min-width: 900px){
    .ui-page {
        width: 800px !important;
        margin: 0 auto !important;
        position: relative !important;
    }
}
*/